.div-input{
    padding: 0 1rem;
}

.input-task {
    display: block;
    padding: .40rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border: 0.02rem solid #E6E6E6;
    box-sizing : border-box;
    width: 100%;
    background-color: #E6E6E6;
    color: #878787;
    font-family: 'Questrial', sans-serif;
  }